**/*.jpeg
**/*.jpg
**/*.svg
!rose.svg
**/*.png
!logo.jpeg
!design.png
**/*.blend*
secret.md

**/package-lock.json
**/*outline*.json
**/node_modules
**/asciiartchars.*
**/playground.*

**/*.trash
**/*.out
.DS_Store